<h2>Hello! Welcome to the About Me page</h2>
<br>
<a href="/">Home Page</a>
<br>
<a href="https://1drv.ms/w/s!AtOl9HZu1m5tgQIv8sDvORrw2cXj?e=Ef1PeR">2022 Resume</a>
<br><br>
My name is Marissa Griffeth
<br>
I was born in Portland Oregon and raised in Forest Grove Oregon
<br>
I graduated with my BS in Pure Mathematics with a minor in Finance from USU in May 2023
<br>
I love to play soccer, watch all sports especially football and hockey), play DnD with my family, snowboard, paddleboard, and build lego sets!
<br>
I am currently in the Anticipatory Intelligence Masters program at USU while I work as a math tutor for the Veterans Resource Office.
