<h1>This is where I will store my CAI papers</h1>
<br>
<a href="/">Home Page</a>
<br>
<a href="https://1drv.ms/w/s!AtOl9HZu1m5tfVwiPkHRfmfbG_4?e=Z3beFk">BLUF 3</a>
<br>
This BLUF is about how Russian Spy Activity in South America can threaten our operations and infurstructure there as well as weaken our relations with countries there.
<br><br>
<a href="https://1drv.ms/w/s!AtOl9HZu1m5tgQBmTNEvL9lRnKJ5?e=eRNSbv">BLUF 4</a>
<br>
This BLUF is about China's claim over the South China Sea is aggresively increaseing and it has been tassked to the US to protect those waters along with defending our allies who are being infringed upon by this.

